# Decision Tree

### Problem Statement

**Apply Decision Tree on the following Training dataset from all electronics customer database and extract the classification rule from the tree.**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DT.csv')

In [3]:
df

        Age  Income Student Credit_rating Class: buys_computer
0      <=30    High      No          Fair                   No
1      <=30    High      No     Excellent                   No
2     31�40    High      No          Fair                  Yes
3       >40  Medium      No          Fair                  Yes
4       >40     Low     yes          Fair                  Yes
5       >40     Low     yes     Excellent                   No
6   31�..40     Low     yes     Excellent                  Yes
7      <=30  Medium      no          Fair                   No
8      <=30     Low     yes          Fair                  Yes
9       >40  Medium     yes          Fair                  Yes
10     <=30  Medium     yes     Excellent                  Yes
11    31�40  Medium      no     Excellent                  Yes
12    31�40    High     yes          Fair                  Yes
13      >40  Medium      No     Excellent                   No

1. class P - [Buys_computer ] = 'YES'
2. class N - [Buys_computer ] = 'NO'

Total No of Records = 14

**Count the number of Records with 'YES ' and 'NO'**

1. class P - [Buys_computer ] = 'YES' = 9
2. class N - [Buys_computer ] = 'NO' = 5

### Calculate Information Gain

**so Information Gain = I(P, N) = - [P / (P + N) LOG2 P / (P+ N) ] - [N / (P + N) LOG2 N / p + N]**

I(P, N) = I(9,5) = - (9/14)log2(9/14) - (5/14)log2(5/14) = 0.940

**Information Gain = 0.940**

### Step 1

**Calculate the entropy for 'Age'**

**1. Information Gain(I(P,N)=-2/(2+3)  log⁡2  2/(2+3)-3/(2+3)  log⁡2  3/(2+3)**

**2. Information Gain(I(P,N)=-2/(2+3)  log⁡2  2/(2+3)-3/(2+3)  log⁡2  3/(2+3)**

**1. Information Gain(I(P,N)=-2/(2+3)  log⁡2  2/(2+3)-3/(2+3)  log⁡2  3/(2+3)**

### Now Calculate Entropy

![](https://www.saedsayad.com/images/Entropy_3.png)

**E (A) = summation (i= 1 to v) P1 + N1 / P + N [I(Pi, Ni)]**

Entropy(Age)=  5/14 I(0.971)+4/14 I(0)  5/14 I(0.971) = **0.693**

### Hence,
Information Gain = I(P, N) - Entropy(Age)
                 = 0.940 - 0.694  
                 = 0.246

### Information Gain (Age) = 0.246
### Information Gain (Income) = 0.029
### Information Gain (Student) = 0.152
### Information Gain (Credit_Rating) = 0.048

1. Now, Age has highest information in all the attributes
2. Age has three possible outcomes (values), root note has three branches:
    1. [<=30]
    2. [31....40]
    3. [>=40]

In [2]:
df1 = pd.read_csv('step_II.csv')

In [3]:
df1

     Age   Income Student Credit_Rating Buys_Computer
0  < = 30    High      No          Fair            No
1  < = 30    High      No     Excellent            No
2  < = 30  Medium      No          Fair            No
3  < = 30     Low     Yes          Fair           Yes
4  < = 30  Mediam     Yes     Excellent           Yes

#### Total no of 'YES' = 2
#### Total no of 'No' = 3

**I(P, N) = I(2, 3) = -2/(5) log⁡2 2/(5)-3/(5) log⁡2 3/(5)**

### Information Gain I(P, N) = 0.971

Calculate the entropy for Income - [HIGH, MEDIUM, LOW]

**Entropy(Income)=  2/5 I(0,2)+3/5 I(1,1)  1/5 I(1,0)=0.4**

### Hence,
Information Gain = I(P, N) - Entropy(Income)
                 = 0.971 - 0.4  
                 = 0.571