# List

1. list are used to store collection of data
2. list are used to store multiple item in single variable  Example: my_list = ["apple",'mango','cherry']
3. list are like dynamic size array
4. list are used to store hetrogeneous of data such as integer, float, string, tuples, lists,dictinary
5. list are used commonly homogeneous of data or list are used to store collection of homogeneous of object
6. list are mutable (can be change after creation)
7. list should always used when we want to store items in some kind of order
8. Elements in list are indexed according to define sequence
9. list indexing start from [0] being first indexed
10. list are allowed store duplicate elements in list
11. Each elements in list are definite place in a list

There are different parameters used in List
1. List Items:
    1. list item or elements are changeble, and that allowed duplicates
    2. list item or elements are indexed first item has indexed [0], second elements [1]...
2. Ordered:
    1. List item are define order and that order will not change
    2. In a list new item or elements added a list, new item are stored in end of list 
3. Changeble:
    1. list are changeble that means we can change, add, remove, elements in list after its creation
4. Allows Duplicate:
    1. Allowed duplicates elements
5. List Item - Data Types:
    1. list items or elemets are any data type (int, float, string)
6. Type - type()
7. List Constructor()
8. List length:
    1. How many number of elements in list

In [3]:
my_var = [10,20,30,40,50]

In [4]:
print(type(my_var))

<class 'list'>

In [9]:
my_list = [10,'shyam','python',10.12, True,False, 1j, 20,20,10,20,20,20]

In [10]:
print(my_list)

[10, 'shyam', 'python', 10.12, True, False, 1j, 20, 20, 10, 20, 20, 20]

In [13]:
my_list[3]

10.12

## Duplicates are allowed

In [14]:
my_list = ['Python','Data','DataScience',"Rahul",'Python']

In [15]:
my_list

['Python', 'Data', 'DataScience', 'Rahul', 'Python']

## Length of List

In [16]:
my_list = ['Python','Data','DataScience',"Rahul",'Python']
len(my_list)

5

## List Item:
    1. Homogeneous
    2. Hetrogeneous

In [17]:
my_list1 = ['Python','Data','DataScience',"Rahul",'Python']
my_list2 = [10,20,30,40,50]
my_list3 = [True, False]
my_list4 = [10.12,13.14,52.20]

In [20]:
print(my_list1)
print(my_list2)
print(my_list3)
print(my_list4)

['Python', 'Data', 'DataScience', 'Rahul', 'Python']
[10, 20, 30, 40, 50]
[True, False]
[10.12, 13.14, 52.2]

#### 2. Hetrogeous of Data

In [21]:
my_list1 = ['Python','Data',10,20,30,40,50,'DataScience',True, False,"Rahul",'Python',10.12,13.14,52.20]

In [22]:
print(my_list1)

['Python', 'Data', 10, 20, 30, 40, 50, 'DataScience', True, False, 'Rahul', 'Python', 10.12, 13.14, 52.2]

In [23]:
print(type(my_list1))

<class 'list'>

# 1. Access Elements in List:
    1. Positive Indexing
    2. Negative Indexing

In [24]:
my_list = ['apple','mango','cherry','watermelon','banana']

In [25]:
print(my_list[2])

cherry

In [27]:
print(my_list[-5])

apple

### Range of Index:
    1. Positive 
    2. Negative

### 1. Positive Indexing

In [28]:
my_list = ['apple','mango','cherry','watermelon','banana']

In [29]:
print(my_list[0:3])

['apple', 'mango', 'cherry']

In [30]:
print(my_list[1:3])

['mango', 'cherry']

In [31]:
print(my_list[1:])

['mango', 'cherry', 'watermelon', 'banana']

In [32]:
print(my_list[:3])

['apple', 'mango', 'cherry']

In [33]:
print(my_list[:])

['apple', 'mango', 'cherry', 'watermelon', 'banana']

In [34]:
print(my_list)

['apple', 'mango', 'cherry', 'watermelon', 'banana']

### 2. Negative Indexing

In [35]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana']

In [36]:
my_list[-4:-1]

['mango', 'cherry', 'watermelon']

In [37]:
my_list[-4:]

['mango', 'cherry', 'watermelon', 'banana']

In [38]:
my_list[:-2]

['apple', 'mango', 'cherry']

In [39]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana']

In [43]:
if 'cherry' in my_list:
    print("Yes, apple is avaialable in list")
else:
    print("No apple is not present in list")

Yes, apple is avaialable in list