# Pandas

In [1]:
import pandas as pd

In [2]:
my_dict = {
    'my_team':['INDIA','AUS','PAK','NZ','SHRILANKA','ENGLAND','SOUTHAFRIKA','NAMEBIYA'],
    'ranking':[1,2,3,4,5,6,7,8],
    'score': {853,842,851,850,849,848,847,846}
}

my_dict

{'my_team': ['INDIA',
  'AUS',
  'PAK',
  'NZ',
  'SHRILANKA',
  'ENGLAND',
  'SOUTHAFRIKA',
  'NAMEBIYA'],
 'ranking': [1, 2, 3, 4, 5, 6, 7, 8],
 'score': {842, 846, 847, 848, 849, 850, 851, 853}}

In [5]:
my_dict = {
    'my_team':['INDIA','AUS','PAK','NZ','SHRILANKA','ENGLAND','SOUTHAFRIKA','NAMEBIYA'],
    'ranking':[1,2,3,4,5,6,7,8],
    'score': [853,842,851,850,849,848,847,846]
}

my_df = pd.DataFrame(my_dict)
my_var = my_df.to_csv('cricket_info.csv')

## version

In [6]:
print(pd.__version__)

1.2.4

# Pandas Series

1. A Pandas series is a same like columns in table
2. It is one-dimensional array holding data of any type

In [7]:
import pandas as pd

x = [10,20,30,40,50,60,70]

my_var = pd.Series(x)
print(my_var)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [8]:
my_var[4]

50

In [9]:
my_var[2:5]

2    30
3    40
4    50
dtype: int64

## Labels

1. If nothing else are specified, the value are labled with their index number
2. First value has index 0, Second value has index 1 etc.
3. This labled can be used to access a specified value

In [10]:
my_var[4]

50

In [11]:
x = [10,20,30,40,50,60,70]

my_var = pd.Series(x, index=['a','b','c','d','e','f','g'])

print(my_var)

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

## Key - Value pair using Series

In [12]:
x = {'name':'Mayur','name1':'Tejas','name2':'Sakshi'}

my_var =pd.Series(x)

print(my_var)

name      Mayur
name1     Tejas
name2    Sakshi
dtype: object

# DataFrame:
    1. A Pandas Dataframe is 2-dimensional data structure like 2-dimenisonal arrry
    2. Table with rows and columns

In [3]:
# nested dict
my_dict = {
    'my_team':['INDIA','AUS','PAK','NZ','SHRILANKA','ENGLAND','SOUTHAFRIKA','NAMEBIYA'],
    'ranking':[1,2,3,4,5,6,7,8],
    'score': [853,842,851,850,849,848,847,846]
}

my_var = pd.DataFrame(my_dict)
print(my_var)

       my_team  ranking  score
0        INDIA        1    853
1          AUS        2    842
2          PAK        3    851
3           NZ        4    850
4    SHRILANKA        5    849
5      ENGLAND        6    848
6  SOUTHAFRIKA        7    847
7     NAMEBIYA        8    846

In [4]:
my_dict = {
    'my_team':['INDIA','AUS','PAK','NZ','SHRILANKA','ENGLAND','SOUTHAFRIKA','NAMEBIYA'],
    'ranking':[1,2,3,4,5,6,7,8],
    'score': [853,842,851,850,849,848,847,846]
}

df = pd.DataFrame(my_dict)
print(df)

       my_team  ranking  score
0        INDIA        1    853
1          AUS        2    842
2          PAK        3    851
3           NZ        4    850
4    SHRILANKA        5    849
5      ENGLAND        6    848
6  SOUTHAFRIKA        7    847
7     NAMEBIYA        8    846

## Return Rows:
    1. Pandas is used [loc()] method to return one or more specified row(s)
        loc means location by index
    2. Return a Pandas Series
    3. When using, [] the result is a Pandas DataFrame

In [16]:
print(df.loc[0])

my_team    INDIA
ranking        1
score        853
Name: 0, dtype: object

In [8]:
print(df.loc[[0,1,2]])

  my_team  ranking  score
0   INDIA        1    853
1     AUS        2    842
2     PAK        3    851

In [20]:
print(df['my_team'])

0          INDIA
1            AUS
2            PAK
3             NZ
4      SHRILANKA
5        ENGLAND
6    SOUTHAFRIKA
7       NAMEBIYA
Name: my_team, dtype: object

## Name Indexed

In [23]:
my_dict = {
    'my_team':['INDIA','AUS','PAK','NZ','SHRILANKA','ENGLAND','SOUTHAFRIKA','NAMEBIYA'],
    'ranking':[1,2,3,4,5,6,7,8],
    'score': [853,842,851,850,849,848,847,846]
}

df = pd.DataFrame(my_dict, index=['a','b','c','d','e','f','g','h'])

print(df)

       my_team  ranking  score
a        INDIA        1    853
b          AUS        2    842
c          PAK        3    851
d           NZ        4    850
e    SHRILANKA        5    849
f      ENGLAND        6    848
g  SOUTHAFRIKA        7    847
h     NAMEBIYA        8    846

In [24]:
print(df.loc['c'])   # loc means location by index

my_team    PAK
ranking      3
score      851
Name: c, dtype: object

In [25]:
print(df['ranking'])

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
Name: ranking, dtype: int64

## Creating the csv file

In [5]:
my_dict = {
    'my_team':['INDIA','AUS','PAK','NZ','SHRILANKA','ENGLAND','SOUTHAFRIKA','NAMEBIYA'],
    'ranking':[1,2,3,4,5,6,7,8],
    'score': [853,842,851,850,849,848,847,846]
}

my_var = pd.DataFrame(my_dict, index=['a','b','c','d','e','f','g','h'])

df = my_var.to_csv('data.csv')
df = pd.to_csv

# Pandas Read CSV

1. CSV stands for Comma Separated Value
2. A simple way to store big data sets is to use CSV
3. CSV files contains plain text and is well knows format that can be read by everyone

In [27]:
import pandas as pd

df = pd.read_csv('data.csv')

In [30]:
print(df.to_string())

  Unnamed: 0      my_team  ranking  score
0          a        INDIA        1    853
1          b          AUS        2    842
2          c          PAK        3    851
3          d           NZ        4    850
4          e    SHRILANKA        5    849
5          f      ENGLAND        6    848
6          g  SOUTHAFRIKA        7    847
7          h     NAMEBIYA        8    846

In [34]:
print(pd.options.display.min_rows)

10

In [36]:
import pandas as pd

pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')
print(df)

  Unnamed: 0      my_team  ranking  score
0          a        INDIA        1    853
1          b          AUS        2    842
2          c          PAK        3    851
3          d           NZ        4    850
4          e    SHRILANKA        5    849
5          f      ENGLAND        6    848
6          g  SOUTHAFRIKA        7    847
7          h     NAMEBIYA        8    846

## Read JSON

1. JavaScript Object Notation
2. Big data sets are oftern stored, or extracted data
2. JSON is plain text , but has file format of an object
4. use to_string() method to print entire DataFrame
5. JSON = Python Dictionary
6. JSON objects have the same format as Python Dictionary

### Create json file

In [10]:
my_dict = {
    'my_team':['INDIA','AUS','PAK','NZ','SHRILANKA','ENGLAND','SOUTHAFRIKA','NAMEBIYA'],
    'ranking':[1,2,3,4,5,6,7,8],
    'score': [853,842,851,850,849,848,847,846]
}


my_var = pd.DataFrame(my_dict)

df = my_var.to_json('data.json')

### Read JSON

In [11]:
df = pd.read_json('data.json')

In [14]:
print(df.to_string())

       my_team  ranking  score
0        INDIA        1    853
1          AUS        2    842
2          PAK        3    851
3           NZ        4    850
4    SHRILANKA        5    849
5      ENGLAND        6    848
6  SOUTHAFRIKA        7    847
7     NAMEBIYA        8    846

## Pandas - Read Dataset from Different Location

In [42]:
import pandas as pd

df =pd.read_csv('C:/Users/shyam.DESKTOP-3EM50G2/Desktop/Data_Scince_Batch_VI/Datasets/1_Regression/2_Multivariate_Linear_Regression/autos_dataset.csv')

In [44]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450