# Tuple

1. Tuple are used to store multiple items in a single variable
2. Tuple are used to store collection of data
3. Tuple is a collection which is ordered and unchangeble
4. Tuple are written with round paranthesis
5. Tuple use parathesis, whereas list used squre bracket
6. Sequnce value of Tuple can be any type and Indexing
7. Tuple are created by placing sequence of value separated by comma
8. Creation of Python without use of the paranthesis is known as Tuple Packing
9. Tuple are used to store Heterogeneous of data but commonly use Homogeneous Data

1. Create Tuple:
    1. my_tuple = ("apple","mango")
2. Tuple Item:
    1. Tuple items are ordered, unchangeble and allow duplicates
    2. Tuple item are indexed, first item has indexed[0], second elements[1]
3. Ordered:
    1. Tuple are ordered, that means item have a defined ordered that order will not change
4. Unchangeble (Immutable):
    1. Tuples are unchangeble, that means we cannot change, add or remove items aftere its creation 
5. Allow Duplicates:
    1. Tuple are indexed, tuple can have items with same value
6. Tuple Length:
    1. How many elements(items) in the tuple
7. Creating a Tuple with single Item:
    1. my_tuple = ("apple",)
8. Tuple Item with DataTypes
9. Tuple Constructor
10. Access Tuple Items:
    1. Negative Indexing
    2. Positive Indexing
    3. Range of Indexing

### 1. Create Tuple

In [1]:
my_tuple = ("apple")
print(my_tuple)
print(type(my_tuple))

apple
<class 'str'>

In [2]:
my_tuple = ("apple",)
print(my_tuple)
print(type(my_tuple))

('apple',)
<class 'tuple'>

In [3]:
my_tuple = ("apple", 'mango','watermelon','cherry','banana')
print(my_tuple)
print(type(my_tuple))

('apple', 'mango', 'watermelon', 'cherry', 'banana')
<class 'tuple'>

### 2. Tuple Items

In [12]:
my_tuple = ("apple","mango","cherry","watermelon","apple")
print(my_tuple)

('apple', 'mango', 'cherry', 'watermelon', 'apple')

In [13]:
my_tuple[0]

'apple'

In [14]:
my_tuple[1]

'mango'

In [15]:
my_tuple.count("apple")

2

### 3. Tuple Length

In [16]:
my_tuple = ("apple","mango","cherry","watermelon","blackcurrent")
print(my_tuple)

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent')

In [17]:
print(len(my_tuple))

5

### 4. Tuple with Single Elements(items)

In [18]:
my_tuple = ("apple",)
print(my_tuple)
print(type(my_tuple))

('apple',)
<class 'tuple'>

In [19]:
my_tuple = ("apple")
print(my_tuple)
print(type(my_tuple))

apple
<class 'str'>

### 5. Tuple Items - Data Types

In [20]:
my_tuple1 = ("apple","mango","cherry","watermelon","blackcurrent")
my_tuple2 = (10,12,14,5,9,60,20)
my_tuple3 = (True,False, True, False, False)
my_tuple4 = (10.10,25,23,45,12,2.0)

In [22]:
print(my_tuple1)
print(my_tuple2)
print(my_tuple3)
print(my_tuple4)

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent')
(10, 12, 14, 5, 9, 60, 20)
(True, False, True, False, False)
(10.1, 25, 23, 45, 12, 2.0)

In [24]:
print(type(my_tuple1))
print(type(my_tuple2))
print(type(my_tuple3))
print(type(my_tuple4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [27]:
my_tuple = ('apple', 'mango', 10, 12, 14, True, False, False, 20,'cherry', 'watermelon',10.1, 25, 12, 2.0, 'blackcurrent')

In [28]:
print(my_tuple)
print(type(my_tuple))

('apple', 'mango', 10, 12, 14, True, False, False, 20, 'cherry', 'watermelon', 10.1, 25, 12, 2.0, 'blackcurrent')
<class 'tuple'>

## 6. Access Elements - Indexing

**1. Positive Indexing**

In [29]:
my_tuple1 = ("apple","mango","cherry","watermelon","blackcurrent")

In [30]:
my_tuple1[3]

'watermelon'

In [31]:
my_tuple1[0]

'apple'

**2. Negative Indexing**

In [32]:
my_tuple1 = ("apple","mango","cherry","watermelon","blackcurrent")

In [33]:
my_tuple1[-1]

'blackcurrent'

In [34]:
my_tuple1[-5]

'apple'

### 3. Range of Indexing

#### 1. Positive Range of Indexing

In [35]:
my_tuple1 = ("apple","mango","cherry","watermelon","blackcurrent")

In [36]:
# syntax [start index : end index]

In [37]:
my_tuple1[:]

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent')

In [38]:
my_tuple1[2:]

('cherry', 'watermelon', 'blackcurrent')

In [40]:
my_tuple1[:3]

('apple', 'mango', 'cherry')

**2. Negative Range of Indexing**

In [41]:
my_tuple1 = ("apple","mango","cherry","watermelon","blackcurrent")

In [43]:
my_tuple1[:]

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent')

In [44]:
my_tuple1[:-1]

('apple', 'mango', 'cherry', 'watermelon')

In [46]:
my_tuple1[-4:-1]

('mango', 'cherry', 'watermelon')

In [50]:
my_tuple1 = ("apple","mango","cherry","watermelon","blackcurrent")

if "apple" in my_tuple1:
    print("Yes Available")
else:
    print("Not Available")

Yes Available

# Tuple Updates

In [51]:
my_tuple1 = ("apple","mango","cherry","watermelon","blackcurrent")

In [52]:
my_tuple1[1] = "papaya"

TypeError: 'tuple' object does not support item assignment

In [53]:
my_tuple1 = ("apple","mango","cherry","watermelon","blackcurrent")

my_list = list(my_tuple1)

In [54]:
print(my_tuple1)
print(type(my_tuple1))

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent')
<class 'tuple'>

In [55]:
print(my_list)
print(type(my_list))

['apple', 'mango', 'cherry', 'watermelon', 'blackcurrent']
<class 'list'>

In [56]:
my_tuple1 = ("apple","mango","cherry","watermelon","blackcurrent")

my_list = list(my_tuple1)

my_list[1] = "kiwi"
my_tuple1 = tuple(my_list)

In [57]:
print(my_tuple1)

('apple', 'kiwi', 'cherry', 'watermelon', 'blackcurrent')

#### Convert Tuple into a list

In [62]:
my_tuple1 = ("apple","mango","cherry","watermelon","blackcurrent")
# print(type(my_tuple1))

y = list(my_tuple1)
print(type(y))
print(y)

y[1] = "Papaya"
print(y)

my_tuple1 = tuple(y)
print(my_tuple1)

<class 'list'>
['apple', 'mango', 'cherry', 'watermelon', 'blackcurrent']
['apple', 'Papaya', 'cherry', 'watermelon', 'blackcurrent']
('apple', 'Papaya', 'cherry', 'watermelon', 'blackcurrent')

In [64]:
x = ("apple","mango","cherry","watermelon","blackcurrent")
print(type(x))

<class 'tuple'>

In [66]:
y = list(x)
print(type(y))

<class 'list'>

In [67]:
y[0] = "orange"

In [69]:
print(y)
print(x)

['orange', 'mango', 'cherry', 'watermelon', 'blackcurrent']
('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent')

In [70]:
x = tuple(y)

In [71]:
print(x)

('orange', 'mango', 'cherry', 'watermelon', 'blackcurrent')

In [72]:
print(type(x))

<class 'tuple'>