# DataTypes

# There are different data types:
    1. Text Type:
        1. string [str]
        
    2. Numeric Type:
        1. integer [int]
        2. float [float]
        3. complex [complex]
        
    3. Sequence Type:
        1. List [list]
        2. Tuple [tuple]
        3. range [range]
        
    4. Mapping Type:
        1. Dictinary [dict]
        
    5. Set Types:
        1. Set [set]
        2. frozenset [frozenset]
        
    6. Boolean Types:
        1. Boolean [bool]
        
    7. Binary Types:
        1. bytes
        2. bytearray
        3. memoryview

### 1. Text Type:
    1. String [str]

In [1]:
my_var = 'Welcome to Python Data Science Placement class'
print(my_var_var)

Welcome to Python Data Science Placement class

In [2]:
my_var = "Welcome to Python Data Science Placement class"

In [3]:
print(my_var)

Welcome to Python Data Science Placement class

In [6]:
my_var = str("Welcome to Python Data Science 112 Placement class")
print(my_var)

Welcome to Python Data Science 112 Placement class

In [7]:
print(type(my_var))

<class 'str'>

### 2. Numeric Types:
    1. integer [int]
    2. float [float]
    3. complex [complex]

In [8]:
x = 10
print(x)

10

In [9]:
y = 25.15
print(y)

25.15

In [10]:
z = 4j
print(z)

4j

In [11]:
x = int(23.12)
y = float(12)
z = complex(12)

In [12]:
print(x)
print(y)
print(z)

23
12.0
(12+0j)

In [13]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### 3. Sequence Type:
    1. List [list]
    2. Tuple [tuple]
    3. range [range]

#### 1. List

In [15]:
fruit_list = ['apple','mango','banana',"watermelon",'cherry',"pineapple", 'apple']
print(fruit_list)

['apple', 'mango', 'banana', 'watermelon', 'cherry', 'pineapple', 'apple']

In [16]:
print(type(fruit_list))

<class 'list'>

#### 2. Tuple

In [17]:
fruit_list = ('apple','mango','banana',"watermelon",'cherry',"pineapple", 'apple')

In [18]:
print(fruit_list)

('apple', 'mango', 'banana', 'watermelon', 'cherry', 'pineapple', 'apple')

In [19]:
print(type(fruit_list))

<class 'tuple'>

#### 3. range

In [20]:
x = range(1,6)

In [21]:
print(x)

range(1, 6)

In [23]:
print(type(x))

<class 'range'>

In [3]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

#### 4. Mapping Type:
    1. Dictinary [dict]

In [24]:
my_var = {'name':'Shyam', 'age':'28', 'salary':'85000', 'name':'Rahul'}

In [25]:
print(my_var)

{'name': 'Rahul', 'age': '28', 'salary': '85000'}

In [26]:
my_var = {'name':'Shyam', 'age':'28', 'salary':'85000', 'name1':'Rahul'}

In [27]:
print(my_var)

{'name': 'Shyam', 'age': '28', 'salary': '85000', 'name1': 'Rahul'}

In [28]:
print(type(my_var))

<class 'dict'>

#### 5. Set Types:
    1. Set [set]
    2. frozenset [frozenset]

#### 1. set

In [31]:
my_var = {'apple','mango','banana',"watermelon",'cherry',"pineapple", 'apple'}

In [32]:
print(my_var)

{'watermelon', 'pineapple', 'banana', 'cherry', 'mango', 'apple'}

In [33]:
print(type(my_var))

<class 'set'>

#### 2. frozenset

In [35]:
my_var = frozenset({'apple','mango','banana',"watermelon",'cherry',"pineapple", 'apple'})

In [36]:
print(type(my_var))

<class 'frozenset'>

### 6. Boolean Types:
    1. Boolean [bool]

In [37]:
x = True

In [38]:
print(x)

True

In [39]:
print(type(x))

<class 'bool'>

In [40]:
x = False
print(x)
print(type(x))

False
<class 'bool'>

### 7. Binary Types:
    1. bytes
    2. bytearray
    3. memoryview

#### 1. bytes

In [41]:
x = b"Welcome to Data Science"

In [42]:
print(x)

b'Welcome to Data Science'

In [43]:
print(type(x))

<class 'bytes'>

#### 2. bytearray

In [44]:
x = bytearray(5)

In [45]:
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [46]:
print(type(x))

<class 'bytearray'>

#### 3. Memoryview

In [47]:
x = memoryview(bytes(4))

In [48]:
print(x)

<memory at 0x0000018A3E5E2580>

In [49]:
print(type(x))

<class 'memoryview'>

# 1. Numeric Types:
    1. integer [int]
    2. float [float]
    3. complex [complex]

In [50]:
x = 45 #int
y = 45.45 #float
z = 1j # complex

In [51]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## 1. Integer:
    1. Int, or integer, is whole number, positive or negative without decimals and unlimited length

In [52]:
x = 45
y = 1234567890321
z = -3214569

In [53]:
print(x)
print(y)
print(z)

45
1234567890321
-3214569

In [54]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## 2. Float:
    1. float or Floting point number is a positive , negative, containing one or more decimals

In [55]:
x = 45.45
y = 1.0
z = -12.2356

In [56]:
print(x)
print(y)
print(z)

45.45
1.0
-12.2356

In [57]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### 3. Complex

In [58]:
x = 3 + 5j
y = 4j
z = -5j

In [59]:
print(x)
print(y)
print(z)

(3+5j)
4j
(-0-5j)

In [60]:
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion

In [61]:
x = 10
y = 25.26
z = 1j

In [64]:
print(x)
print(y)
print(z)

10
25.26
1j

In [62]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**1. Integer to Float conversion**

In [63]:
a = float(x)
print(a)

10.0

In [66]:
print(type(a))

<class 'float'>

**2. Float to Integer Conversion**

In [65]:
b = int(y)
print(b)

25

In [67]:
print(type(b))

<class 'int'>

**3. Integer to complex conversion**

In [68]:
c = complex(b)

In [69]:
print(c)

(25+0j)

In [70]:
print(type(c))

<class 'complex'>