In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Book1.csv')

In [3]:
df.head()

  Day   Outlook Humadity    Wind Play
0  D1     Sunny     High    Weak   No
1  D2     Sunny     High  Strong   no
2  D3  Overcast     High    Weak  Yes
3  D4     Rain      High    Weak  Yes
4  D5     Rain    Normal    Weak  Yes

1. Outlook = Sunny
2. Humadity = High
3. Wind = Weak
4. Play?

In [4]:
df.drop('Day' , axis = 1 ,inplace=True)

In [5]:
df.head()

    Outlook Humadity    Wind Play
0     Sunny     High    Weak   No
1     Sunny     High  Strong   no
2  Overcast     High    Weak  Yes
3     Rain      High    Weak  Yes
4     Rain    Normal    Weak  Yes

In [6]:
df['Outlook'].unique()

array(['Sunny', 'Overcast', 'Rain '], dtype=object)

In [7]:
df['Outlook'] = df['Outlook'].replace({'Sunny':0, 'Rain':1})

In [8]:
df['Outlook'] = df['Outlook'].replace({'Overcast':2})

In [9]:
df['Humadity'] = df['Humadity'].replace({'High':0, 'Normal':1})

In [10]:
df['Wind'] = df['Wind'].replace({'Weak':0, 'Strong':1})

In [11]:
df['Play'] = df['Play'].replace({'No':0 ,'no':0,'Yes':1})

In [12]:
df.head()

  Outlook  Humadity  Wind  Play
0       0         0     0     0
1       0         0     1     0
2       2         0     0     1
3   Rain          0     0     1
4   Rain          1     0     1