# Python List

In [1]:
my_list = []

In [2]:
print(my_list)

[]

In [3]:
print(type(my_list))

<class 'list'>

In [4]:
my_list = [10,'python',"DataScience",12.12,True,4j]

In [5]:
my_list

[10, 'python', 'DataScience', 12.12, True, 4j]

In [6]:
my_list1 = [10,20,30,40,50]
my_list2 = ['apple','mango','watermelon','cherry','papaya']
my_list3 = [True, False, True, True]

In [7]:
my_list1
my_list2
my_list3

[True, False, True, True]

In [8]:
print(my_list1)
print(my_list2)
print(my_list3)

[10, 20, 30, 40, 50]
['apple', 'mango', 'watermelon', 'cherry', 'papaya']
[True, False, True, True]

In [9]:
print(type(my_list1))
print(type(my_list2))
print(type(my_list3))

<class 'list'>
<class 'list'>
<class 'list'>

In [10]:
my_list = 10
print(my_list)
print(type(my_list))

10
<class 'int'>

In [11]:
my_list = ['apple', 'mango', 'watermelon', 'cherry', 'papaya']
print(my_list)
print(type(list))

['apple', 'mango', 'watermelon', 'cherry', 'papaya']
<class 'type'>

In [12]:
my_list = 'apple'
print(my_list)
print(type(my_list))

apple
<class 'str'>

### Access List Item in Python:
    1. Positive Indexing
    2. Negative Indexing
    3. Range of Indexing:
        1. Positive 
        2. Negative

In [15]:
 my_list = ['apple', 'mango', 'watermelon', 'cherry', 'papaya','banana','pineapple']

In [16]:
print(my_list)

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

### 1. Positive Indexing:
    1. Positive indexing start with [0] is being first elements

In [22]:
 my_list = ['apple', 'mango', 'watermelon', 'cherry', 'papaya','banana','pineapple','Apple']

In [18]:
my_list[2]

'watermelon'

In [19]:
my_list[6]

'pineapple'

In [20]:
my_list[0]

'apple'

In [21]:
my_list[7]

IndexError: list index out of range

In [23]:
my_list[7]

'Apple'

### 2. Negative Indexing:
    1. Negative indexing starts from the End
    2. Negative indexing start with -1

In [24]:
 my_list = ['apple', 'mango', 'watermelon', 'cherry', 'papaya','banana','pineapple']

In [25]:
my_list

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

In [26]:
my_list[-1]

'pineapple'

In [27]:
my_list[-7]

'apple'

In [28]:
my_list[-4]

'cherry'

### 3. Range of Indexing:
    1. Positive indexing
    2. Negative indexing

#### 1. Positive Indexing:
    1. variablename[start indexing : End indexing]

In [29]:
 my_list = ['apple', 'mango', 'watermelon', 'cherry', 'papaya','banana','pineapple']

In [30]:
my_list[0:3]

['apple', 'mango', 'watermelon']

In [31]:
my_list[0:2]

['apple', 'mango']

In [32]:
my_list[2:]

['watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

In [33]:
my_list[2:5]

['watermelon', 'cherry', 'papaya']

In [34]:
my_list[:5]

['apple', 'mango', 'watermelon', 'cherry', 'papaya']

In [35]:
my_list

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

In [36]:
my_list[:]

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

In [37]:
my_list[2:5]

['watermelon', 'cherry', 'papaya']

In [ ]:
(n-1) = 10 - 1 = 3 2,3,4

In [38]:
my_list[0:7]

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

In [39]:
my_list[0:]

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

#### 2. Negative Indexing

In [40]:
 my_list = ['apple', 'mango', 'watermelon', 'cherry', 'papaya','banana','pineapple']

In [41]:
my_list[-4:-1]

['cherry', 'papaya', 'banana']

In [42]:
my_list[-4:-1]

['cherry', 'papaya', 'banana']

In [45]:
my_list[-5:-1]

['watermelon', 'cherry', 'papaya', 'banana']

In [46]:
my_list[:-1]

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana']

In [47]:
my_list[-5:]

['watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

In [48]:
my_list

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

In [49]:
my_list[:]

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

In [50]:
my_list[-2]

'banana'

In [51]:
my_list[-1]

'pineapple'

In [52]:
my_list[:]

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

In [53]:
my_list

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana', 'pineapple']

In [54]:
my_list[:-1]

['apple', 'mango', 'watermelon', 'cherry', 'papaya', 'banana']

In [55]:
 my_list = ['apple', 'mango', 'watermelon', 'cherry', 'papaya','banana','pineapple']

In [57]:
my_list[0:4]

['apple', 'mango', 'watermelon', 'cherry']

## Change List (Item) Value

In [58]:
 my_list = ['apple', 'mango', 'watermelon', 'cherry']

In [59]:
my_list

['apple', 'mango', 'watermelon', 'cherry']

In [60]:
my_list[1] = 'papaya'

In [61]:
my_list

['apple', 'papaya', 'watermelon', 'cherry']

In [62]:
 my_list = ['apple', 'mango', 'watermelon', 'cherry', 'papaya','banana','pineapple']

In [63]:
my_list[1:3] = ['kiwi','papaya']

In [64]:
my_list

['apple', 'kiwi', 'papaya', 'cherry', 'papaya', 'banana', 'pineapple']

In [71]:
my_list[1:4] = ['kiwi','kiwi']

In [72]:
my_list

['apple', 'kiwi', 'kiwi']

### Insert Elements in List

#### 1. insert method:
    1. To add element in specific location in the list

In [73]:
my_list = ['apple', 'kiwi', 'papaya', 'cherry', 'papaya', 'banana', 'pineapple']

In [74]:
my_list.insert(1,"mango")
my_list

['apple', 'mango', 'kiwi', 'papaya', 'cherry', 'papaya', 'banana', 'pineapple']

In [75]:
my_list[2]

'kiwi'

#### 2. append method:
    1. To add item at the end of the list

In [80]:
my_list = ['apple', 'kiwi', 'papaya', 'cherry', 'papaya', 'banana', 'pineapple']

In [81]:
my_list

['apple', 'kiwi', 'papaya', 'cherry', 'papaya', 'banana', 'pineapple']

In [82]:
my_list.append('mango')

In [83]:
my_list

['apple', 'kiwi', 'papaya', 'cherry', 'papaya', 'banana', 'pineapple', 'mango']

#### 3. Extend Method

In [84]:
my_list1 = ['apple', 'kiwi', 'papaya', 'cherry']
my_list2 = ['papaya', 'banana', 'pineapple']

In [85]:
print(my_list1)
print(my_list2)

['apple', 'kiwi', 'papaya', 'cherry']
['papaya', 'banana', 'pineapple']

In [86]:
new_list = my_list1.extend(my_list2)
print(new_list)

None

In [87]:
my_list1.extend(my_list2)
print(my_list1)

['apple', 'kiwi', 'papaya', 'cherry', 'papaya', 'banana', 'pineapple', 'papaya', 'banana', 'pineapple']

In [91]:
my_list1 = ['apple', 'kiwi', 'papaya', 'cherry']
my_list2 = ['papaya', 'banana', 'pineapple']

In [92]:
my_list1.extend(my_list2)
print(my_list1)

['apple', 'kiwi', 'papaya', 'cherry', 'papaya', 'banana', 'pineapple']

In [93]:
my_list1 = ['apple', 'kiwi', 'papaya', 'cherry']
my_list2 = ['papaya', 'banana', 'pineapple']

In [94]:
my_list2.extend(my_list1)
print(my_list2)

['papaya', 'banana', 'pineapple', 'apple', 'kiwi', 'papaya', 'cherry']

In [95]:
my_list1

['apple', 'kiwi', 'papaya', 'cherry']