# Random Forest

1. It is supervised machine learning algorithm
2. It is classification algorithm as well as regression algorithm
3. As name suggest, this algorithm creates randomly creates a forest with different[several] trees
4. In General, more trees in the forest more robust the forest look like. 
5. Similarly in random forest classifier, the higher number of trees in the forest give us the greater accuracy of result
6. Random Forest builds multiple decision tree (called as Forest) and club them together to get more accurate and stable
7. The forest build a collection of decision trees, and train using **Bagging Method**.

### What is difference Between Random Forest and Decision Tree?

**Lets say that you ar looking for a buying house, but you are unable to take decision which one buy. so you consult for few Broker
and they give us number of Parameter that should be consider befory buying house**

1. Price of the House
2. Location 
3. Number of Bedrooms
4. Parking Space
5. Available Facilities

                    Price of the House
    
            Location              Don't Buy
        
    No of Bedrooms          Don't Buy           

Buy             Don't Buy

                        No of Bedrooms
    
        Parking Space                Don't Buy 
        
    Location              Don't Buy
    
Buy             Don't Buy

                               Location
    
            Price of the House            Don't Buy
        
    Facilities  Available           Don't Buy
    
Buy                  Don't Buy

## How does Random Forest Work?

1. Step 1 - Create a Bootstrapped Data Set
2. Step 2 - Decision Trees
3. Step 3 - Go to the First Step 1 and Repeat
4. Step 4 - Predicting the outcome of a new data point
5. Step 5 - Evaluate the Model

## Implementation

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.shape

(400, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [7]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [8]:
x = df[['Age','EstimatedSalary']]
y = df[['Purchased']]

In [9]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [10]:
y.head()

   Purchased
0          0
1          0
2          0
3          0
4          0

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,random_state=1)

In [12]:
x_train

     Age  EstimatedSalary
93    29            28000
23    45            22000
299   46           117000
13    32            18000
90    22            81000
..   ...              ...
255   52            90000
72    20            23000
396   51            23000
235   46            79000
37    30            49000

[320 rows x 2 columns]

In [14]:
y_test

     Purchased
398          0
125          0
328          1
339          1
172          0
..         ...
347          1
41           0
180          0
132          0
224          0

[80 rows x 1 columns]

In [15]:
model = RandomForestClassifier(n_estimators= 100, criterion='entropy')
RF_model = model.fit(x_train, y_train)

<ipython-input-15-0653df53ec51>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  RF_model = model.fit(x_train, y_train)

In [16]:
prediction = RF_model.predict(x_test)

In [19]:
print(prediction[1:10])

[0 1 1 0 0 0 1 0 1]

In [20]:
print(y_test[1:10])

     Purchased
125          0
328          1
339          1
172          0
342          0
197          0
291          1
29           0
284          0

In [21]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [22]:
print(confusion_matrix(y_test, prediction))

[[41  7]
 [ 3 29]]

In [23]:
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

           0       0.93      0.85      0.89        48
           1       0.81      0.91      0.85        32

    accuracy                           0.88        80
   macro avg       0.87      0.88      0.87        80
weighted avg       0.88      0.88      0.88        80

In [24]:
accuracy_score(y_test, prediction)

0.875

## Application of Random Forest

1. Banking Industry:
    1. Credit Card Fraud Detection
    2. Customer Segmentation
    3. Predicting Loan Defaults on LendingClub.com
2. Healthcare and Medicine:
    1. Cardiovascular Disease Prediction
    2. Diabetes Prediction
    3. Breast Cancer Prediction
3. Stock Market:
    1. Stock Market Prediction
    2. Stock Market Sentiment Analysis
    3. Bitcoin Price Detection
4. E-Commerce:
    1. Product Recommendation
    2. Price Optimization
    3. Search Ranking