# Operators
1. There are different types of operators are used in python:
    1. Arithmatic Operator
    2. Assignment Operators
    3. Comparison OPerator
    4. Logical Opearators
    5. Identity OPerators
    6. Membership Operators
    7. Bitwise Operators

# 2. Assignment Operators

1. [=]:
    1. x = 10
    
2. [+=]:
    1. x += 10 similar as x = x + 10
    
3. [-=]:
    1. x -= 10 similar as x = x - 10
    
4. [*=]:
    1. x *= 10 similar as x = x * 10
    
5. [/=]:
    1. x /= 10 similar as x = x / 10
    
6. [//=]:
    1. x //= 10 similar as x = x // 10
    
7. [**=]:
    1. x **= 10 similar as x = x ** 10
    
8. [&=]:
    1. x &= 10 similar as x = x & 10
    
9. [!=]:
    1. x != 10 similar as x = x 1!10
10. [^=]:
    1. x ^= 10 similar as x = x ^ 10
    
11. [>>=]:
    1. x >>= 10 similar as x = x >> 10
    
12. [<<=]:
    1. x <<= 10 similar as x = x << 10

In [1]:
x = 5

In [2]:
x = x + 5
print(x)

10

In [3]:
x += 10
print(x)

20

In [4]:
x = x - 10
print(x)

10

In [5]:
x -= 5
print(x)

5

## 3. Comparision Operator

1. Equal [==]
2. Not Equal [!=]
3. Greater than [>]
4. Less than [<]
5. Greater than or Equal [>=]
6. Less than or Equal [<=]

In [8]:
x = 100
y = 100

print(x == y)

True

In [9]:
x = 100
y = 100

print(x != y)

False

In [10]:
x = 100
y = 10

print(x != y)

True

In [11]:
# Greater than

In [13]:
x = 100
y = 10

print(x > y)

True

In [14]:
x = 100
y = 100

print(x > y)

False

In [15]:
# Less than

In [16]:
x = 10
y = 100

print(x < y)

True

In [17]:
x = 100
y = 10

print(x == y)

False

In [18]:
# Greater than or Equal

In [21]:
x = 100
y = 100

print(x >= y)

True

In [22]:
x = 101
y = 100

print(x >= y)

True

In [23]:
x = 100
y = 101

print(x >= y)

False

In [24]:
# less than or Equals

In [25]:
x = 100
y = 100

print(x <= y)

True

In [26]:
x = 10
y = 100

print(x <= y)

True

In [27]:
x = 101
y = 100

print(x <= y)

False

# 4. Logical Operators:

1. Logical Operators:
    1. Logical operator is a symbol or words used to connect two or more expression
    2. value of the compound expression
    3. common logical operators are:
        1. and
        2. or
        3. not
    4.to combine conditional statement
1. AND [and]:

    1. Return TRUE if both condition statement are TRUE
    2. Return False if any of the condition statement are False
2. OR [or]:
    1. Return TRUE if any of the condition statement are TRUE
    2. Return False if both condition statement are FALSE
3. NOT [not]:
    1. Reverse the result return FALSE if the result are TRUE

### 1. AND [and]

In [28]:
x = 10
y = 20

print(x != y and y > x)

True

In [29]:
x = 10
y = 20

print(x != y and y < x)

False

In [30]:
x = 10
y = 20

print(x == y and y > x)

False

## 2. OR [or]

In [32]:
x = 10
y = 20

print(x == y or y > x)

True

In [34]:
x = 10
y = 20

print(x == y or y < x)

False

## 3. NOT [not]

In [37]:
x = 10
y = 20

print(not(x == y and y < x))

True

In [38]:
x = 10
y = 20

print(not(x == y or y > x))

False

In [39]:
x = 10
y = 20

print(x == y or y > x)

True

## 5. Identity Oprators

1. Identity operator are used to compare the object with same memory location
2. There are two identity operators in python:
    1. IS [is]
    2. IS NOT [is not]

In [40]:
x = ['apple','mango','cherry','watermelon']
y = ['apple','mango','cherry','watermelon']

z = x

print(z is x)
print(x is y)

True
False

In [44]:
x = ['apple','mango','cherry','watermelon']
y = ['apple','mango','cherry','watermelon']

z = x

print(x is not z)

print(x is not y)

print(x == y)

False
True
True

# 6. Membership Operators
1. Membership operator are used to test if sequence is presented as object
2. There are two membership operators:
    1. IN [in]
    2. NOT IN [not in]

1. IN [in]:
    1. Return TRUE if sequnece with specific object value is presented in object
3. NOT IN [not in]:
    1. Returns TRUE if sequnce with specific value is not presented in object

In [45]:
x = ['apple','mango','cherry','watermelon']

print("cherry" in x)

True

In [46]:
x = ['apple','mango','cherry','watermelon']

print("banana" in x)

False

## 2. NOT IN [ not in]

In [47]:
x = ['apple','mango','cherry','watermelon']

print("banana" not in x)

True

In [48]:
x = ['apple','mango','cherry','watermelon', 'banana']

print("banana" not in x)

False

In [49]:
x = ('apple','mango','cherry','watermelon', 'banana')

print("banana" not in x)

False

In [50]:
print(type(x))

<class 'tuple'>

# 7. Bitwise Operators:
    1. AND [&]
    2. OR [|]
    3. XOR [^]
    4. NOT [~]
    5. ZERO FILL LEFT SHIFT [<<]
    6. SIGNED RIGHT SHIFT [>>]