## Python MongoDB Find

1. In MongoDB we use the find and findone method to find data in a collection
2. Just like the SELECT statement is used to find data in table in MySQL database

### 1. Find One

1. To select data from a collection in MongoDB, we can use the find_one() method
2. The find_one() method returns the first occurance in the selection

In [ ]:
import pymongo

myclient = pymongo.MongoClient("127.0.0.1:27017")
mydb = myclient['computer_dept']
mycol = mydb['BE']

x = mycol.find_one()
print(x)

{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar', 'post': 'Data Engineer', 'salary': 90000, 'location': 'Pune', 'mobile': 9923090436, 'email': 'shyam@gmail.com', 'dept': 'Research and Developement'}

### 2. Find All

1. To select data from a table in MongoDB, we can use the find() method
2. The find() method will returns all occurances in the selection
3. The first parameter of the find() method in the query object

**Note: No parameter in the find() method gives you the same result as Select * in MySQL**

In [ ]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar', 'post': 'Data Engineer', 'salary': 90000, 'location': 'Pune', 'mobile': 9923090436, 'email': 'shyam@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887a9b66e402cb206b9168'), 'name': 'Mayur Kankal', 'post': 'Data Scientiest', 'salary': 90000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'mayur@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887b19f1532ba1ec553e9c'), 'name': 'Rashmi Kakode', 'post': 'Data Analyst', 'salary': 70000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'rashmi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'Data Engineer', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'ML Engineer', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}

### Return only Some Fields

1. The second parameter of the find() method is an object which fields to include in the result
2. This parameter is optional, and if omitted all fields will be included in the result

In [ ]:
for x in mycol.find({},{'_id':0, 'name':1, 'location':1,'post':1}):
    print(x)

{'name': 'Shyam Ambilkar', 'post': 'Data Engineer', 'location': 'Pune'}
{'name': 'Mayur Kankal', 'post': 'Data Scientiest', 'location': 'Pune'}
{'name': 'Rashmi Kakode', 'post': 'Data Analyst', 'location': 'Pune'}
{'name': 'Sakshi Ambekar', 'post': 'Data Engineer', 'location': 'Pune'}
{'name': 'Sachin Bodkhe', 'post': 'ML Engineer', 'location': 'Pune'}
{'name': 'Garima Chauhan', 'post': 'ML Engineer', 'location': 'Pune'}

In [ ]:
for x in mycol.find({},{'_id':1, 'name':1, 'location':1}):
    print(x)

{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar', 'location': 'Pune'}
{'_id': ObjectId('62887a9b66e402cb206b9168'), 'name': 'Mayur Kankal', 'location': 'Pune'}
{'_id': ObjectId('62887b19f1532ba1ec553e9c'), 'name': 'Rashmi Kakode', 'location': 'Pune'}
{'_id': 1, 'name': 'Sakshi Ambekar', 'location': 'Pune'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'location': 'Pune'}
{'_id': 3, 'name': 'Garima Chauhan', 'location': 'Pune'}

**Note : You are not allowed to specify both 0 and 1 values in the same object(except if one of the fields in the _id fields). If you specifya fields with the value of  0, all other fields get the value 1 and vice versa**

In [ ]:
for x in mycol.find({},{'name':1}):
    print(x)

{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar'}
{'_id': ObjectId('62887a9b66e402cb206b9168'), 'name': 'Mayur Kankal'}
{'_id': ObjectId('62887b19f1532ba1ec553e9c'), 'name': 'Rashmi Kakode'}
{'_id': 1, 'name': 'Sakshi Ambekar'}
{'_id': 2, 'name': 'Sachin Bodkhe'}
{'_id': 3, 'name': 'Garima Chauhan'}

In [ ]:
for x in mycol.find({},{'_id':0,'name':1,'location':1,'email':1}):
    print(x)

{'name': 'Shyam Ambilkar', 'location': 'Pune', 'email': 'shyam@gmail.com'}
{'name': 'Mayur Kankal', 'location': 'Pune', 'email': 'mayur@gmail.com'}
{'name': 'Rashmi Kakode', 'location': 'Pune', 'email': 'rashmi@gmail.com'}
{'name': 'Sakshi Ambekar', 'location': 'Pune', 'email': 'sakshi@gmail.com'}
{'name': 'Sachin Bodkhe', 'location': 'Pune', 'email': 'sachin@gmail.com'}
{'name': 'Garima Chauhan', 'location': 'Pune', 'email': 'garima@gmail.com'}

In [ ]:
for x in mycol.find({},{'name':0,'location':1,'email':1}):
    print(x)

OperationFailure: Cannot do inclusion on field location in exclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do inclusion on field location in exclusion projection', 'code': 31253, 'codeName': 'Location31253'}

## MongoDB Query

### 4. Filter Result

1. When finding the documents in collection, you can filter the result by using a query object
2. The First argument of the find() method is query object and used to limit the search

In [ ]:
my_query = {'post': 'Data Engineer'}

my_doc = mycol.find(my_query)

for x in my_doc:
    print(x)

{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar', 'post': 'Data Engineer', 'salary': 90000, 'location': 'Pune', 'mobile': 9923090436, 'email': 'shyam@gmail.com', 'dept': 'Research and Developement'}
{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'Data Engineer', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}

In [ ]:
my_query = {'post': 'Data Analyst'}

my_doc = mycol.find(my_query)

for x in my_doc:
    print(x)

{'_id': ObjectId('62887b19f1532ba1ec553e9c'), 'name': 'Rashmi Kakode', 'post': 'Data Analyst', 'salary': 70000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'rashmi@gmail.com', 'dept': 'Research and Developement'}

In [ ]:
my_query = {'post': 'ML Engineer'}

my_doc = mycol.find(my_query)

for x in my_doc:
    print(x)

{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'ML Engineer', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}

### Advance Query

In [ ]:
my_query = {'salary': {'$gt':60000}}

my_doc = mycol.find(my_query)

for x in my_doc:
    print(x)

{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar', 'post': 'Data Engineer', 'salary': 90000, 'location': 'Pune', 'mobile': 9923090436, 'email': 'shyam@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887a9b66e402cb206b9168'), 'name': 'Mayur Kankal', 'post': 'Data Scientiest', 'salary': 90000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'mayur@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887b19f1532ba1ec553e9c'), 'name': 'Rashmi Kakode', 'post': 'Data Analyst', 'salary': 70000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'rashmi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'ML Engineer', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}

In [ ]:
my_query = {'salary': {'$lt':60000}}

my_doc = mycol.find(my_query)

for x in my_doc:
    print(x)

{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}

### Regular Expression

In [ ]:
my_query = {'name':{'$regex':'^S'}}

my_doc = mycol.find(my_query)

for x in my_doc:
    print(x)

{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar', 'post': 'Data Engineer', 'salary': 90000, 'location': 'Pune', 'mobile': 9923090436, 'email': 'shyam@gmail.com', 'dept': 'Research and Developement'}
{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'Data Engineer', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'ML Engineer', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}

In [ ]:
my_query = {'name':{'$regex':'^M'}}

my_doc = mycol.find(my_query)

for x in my_doc:
    print(x)

{'_id': ObjectId('62887a9b66e402cb206b9168'), 'name': 'Mayur Kankal', 'post': 'Data Scientiest', 'salary': 90000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'mayur@gmail.com', 'dept': 'Research and Developement'}

In [ ]:
my_query = {'name':{'$regex':'^m'}}

my_doc = mycol.find(my_query)

for x in my_doc:
    print(x)

### Sort the Result

1. Use the sort() method to sort the result in ascending or descending order
2. The sort() method takes one parameter for 'fieldname' and one parameter for 'direction' (ascending is the default direction)

### 1. Ascending Order

In [ ]:
my_doc = mycol.find().sort('name')

for x in my_doc:
    print(x)

{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887a9b66e402cb206b9168'), 'name': 'Mayur Kankal', 'post': 'Data Scientiest', 'salary': 90000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'mayur@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887b19f1532ba1ec553e9c'), 'name': 'Rashmi Kakode', 'post': 'Data Analyst', 'salary': 70000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'rashmi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'ML Engineer', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'Data Engineer', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar', 'post': 'Data Engineer', 'salary': 90000, 'location': 'Pune', 'mobile': 9923090436, 'email': 'shyam@gmail.com', 'dept': 'Research and Developement'}

### 2. Descending Order

1. Use the value -1 as second parameter to sort descending
2. Use the value 1 as second parameter  to sort Ascending

In [ ]:
my_doc = mycol.find().sort('name',-1)

for x in my_doc:
    print(x)

{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar', 'post': 'Data Engineer', 'salary': 90000, 'location': 'Pune', 'mobile': 9923090436, 'email': 'shyam@gmail.com', 'dept': 'Research and Developement'}
{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'Data Engineer', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'ML Engineer', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887b19f1532ba1ec553e9c'), 'name': 'Rashmi Kakode', 'post': 'Data Analyst', 'salary': 70000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'rashmi@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887a9b66e402cb206b9168'), 'name': 'Mayur Kankal', 'post': 'Data Scientiest', 'salary': 90000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'mayur@gmail.com', 'dept': 'Research and Developement'}
{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}

In [ ]:
my_doc = mycol.find().sort('name',1)

for x in my_doc:
    print(x)

{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887a9b66e402cb206b9168'), 'name': 'Mayur Kankal', 'post': 'Data Scientiest', 'salary': 90000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'mayur@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887b19f1532ba1ec553e9c'), 'name': 'Rashmi Kakode', 'post': 'Data Analyst', 'salary': 70000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'rashmi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'ML Engineer', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'Data Engineer', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar', 'post': 'Data Engineer', 'salary': 90000, 'location': 'Pune', 'mobile': 9923090436, 'email': 'shyam@gmail.com', 'dept': 'Research and Developement'}

## Delete Documents

1. There are two ways to delete documents in MongoDB:
    1. Delete One
    2. Delete All

1. To delete one document, in the MongoDB we use delete_one() method
2. The first parameter of the delete_one() method is a query object defining which documents wants to delete

**Note: If the query finds more than one documents, only the first occurances is deleted**

### 1. Delete One Documents

In [ ]:
my_query = {'post':'Data Analyst'}

mycol.delete_one(my_query)

In [ ]:
my_doc = mycol.find().sort('name',1)

for x in my_doc:
    print(x)

{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887a9b66e402cb206b9168'), 'name': 'Mayur Kankal', 'post': 'Data Scientiest', 'salary': 90000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'mayur@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'ML Engineer', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'Data Engineer', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': ObjectId('62887a9b66e402cb206b9167'), 'name': 'Shyam Ambilkar', 'post': 'Data Engineer', 'salary': 90000, 'location': 'Pune', 'mobile': 9923090436, 'email': 'shyam@gmail.com', 'dept': 'Research and Developement'}

### 2. Delete All Documents

In [ ]:
my_query = {'name':{'$regex':'^S'}}

x = mycol.delete_many(my_query)
print(x)
print(x.deleted_count, "Document deleted")

<pymongo.results.DeleteResult object at 0x0000023CEFD4C400>
3 Document deleted

### 3. Delete All Documents in a Collection

In [ ]:
x = mycol.delete_many({})

print(x.deleted_count,"Document Deleted")

2 Document Deleted

### Delete Collection

In [ ]:
mycol.drop()