# accessing Elements in Dictionary

In [1]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}

In [2]:
print(my_dict)

{'name': 'Shyam', 'post': 'Data Scientist', 'salary': 45000, 'location': 'Pune', 'company_name': 'Amdocs'}

In [3]:
my_dict

{'name': 'Shyam',
 'post': 'Data Scientist',
 'salary': 45000,
 'location': 'Pune',
 'company_name': 'Amdocs'}

In [4]:
x  = my_dict['salary']
print(x)

45000

In [5]:
x = my_dict.get('location')
print(x)

Pune

# Access only keys

In [6]:
x = my_dict.keys()
print(x)

dict_keys(['name', 'post', 'salary', 'location', 'company_name'])

In [7]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}


x = my_dict.keys()
print(x)

my_dict['HO'] = 'Nagpur'

print(x)

dict_keys(['name', 'post', 'salary', 'location', 'company_name'])
dict_keys(['name', 'post', 'salary', 'location', 'company_name', 'HO'])

# Return only values of Keys

In [8]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}

In [9]:
x = my_dict.values()
print(x)

dict_values(['Shyam', 'Data Scientist', 45000, 'Pune', 'Amdocs'])

In [10]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}

x = my_dict.values()
print(x)

my_dict['year'] = 2022
print(x)

dict_values(['Shyam', 'Data Scientist', 45000, 'Pune', 'Amdocs'])
dict_values(['Shyam', 'Data Scientist', 45000, 'Pune', 'Amdocs', 2022])

## Get Values in Dictionary using - items() method

In [11]:
x = my_dict.items()
print(x)

dict_items([('name', 'Shyam'), ('post', 'Data Scientist'), ('salary', 45000), ('location', 'Pune'), ('company_name', 'Amdocs'), ('year', 2022)])

In [12]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}

x = my_dict.items()
print(x)

my_dict['year'] = 2022
print(x)

dict_items([('name', 'Shyam'), ('post', 'Data Scientist'), ('salary', 45000), ('location', 'Pune'), ('company_name', 'Amdocs')])
dict_items([('name', 'Shyam'), ('post', 'Data Scientist'), ('salary', 45000), ('location', 'Pune'), ('company_name', 'Amdocs'), ('year', 2022)])

In [15]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}

if 'HO' in my_dict:
    print("Yes Keys are Present")
else:
    print("Not Present")

Not Present

# Change Dictionary Elements

In [16]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}

my_dict['company_name'] = 'Cognizant'

In [17]:
print(my_dict)

{'name': 'Shyam', 'post': 'Data Scientist', 'salary': 45000, 'location': 'Pune', 'company_name': 'Cognizant'}

In [18]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}

my_dict.update({'location':'Benglore'})
print(my_dict)

{'name': 'Shyam', 'post': 'Data Scientist', 'salary': 45000, 'location': 'Benglore', 'company_name': 'Amdocs'}

# Add elements in Dictionary

In [19]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs',
          'name':'Rahul'}

print(my_dict)

{'name': 'Rahul', 'post': 'Data Scientist', 'salary': 45000, 'location': 'Pune', 'company_name': 'Amdocs'}

In [20]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}

my_dict['HO'] = 'Mumbai'
print(my_dict)

{'name': 'Shyam', 'post': 'Data Scientist', 'salary': 45000, 'location': 'Pune', 'company_name': 'Amdocs', 'HO': 'Mumbai'}

In [21]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}

my_dict.update('Head_Office':'Nagpur')

SyntaxError: invalid syntax (<ipython-input-21-afa15e3b9890>, line 7)

In [22]:
my_dict = {'name':'Shyam',
          'post':'Data Scientist',
          'salary':45000,
          'location':'Pune',
          'company_name':'Amdocs'}

my_dict.update({'Head_Office':'Nagpur'})

In [23]:
print(my_dict)

{'name': 'Shyam', 'post': 'Data Scientist', 'salary': 45000, 'location': 'Pune', 'company_name': 'Amdocs', 'Head_Office': 'Nagpur'}

# Remove elements in Dictionary

In [24]:
my_dict

{'name': 'Shyam',
 'post': 'Data Scientist',
 'salary': 45000,
 'location': 'Pune',
 'company_name': 'Amdocs',
 'Head_Office': 'Nagpur'}

In [26]:
my_dict = {'name': 'Shyam',
     'post': 'Data Scientist',
     'salary': 45000,
     'location': 'Pune',
     'company_name': 'Amdocs',
     'Head_Office': 'Nagpur'}


my_dict.pop('Head_Office')
print(my_dict)

{'name': 'Shyam', 'post': 'Data Scientist', 'salary': 45000, 'location': 'Pune', 'company_name': 'Amdocs'}

In [30]:
my_dict = {'name': 'Shyam',
     'post': 'Data Scientist',
     'salary': 45000,
     'location': 'Pune',
     'company_name': 'Amdocs',
     'Head_Office': 'Nagpur'}

my_dict.pop('Amdocs')
print(my_dict)

KeyError: 'Amdocs'

In [31]:
my_dict = {'name': 'Shyam',
     'post': 'Data Scientist',
     'salary': 45000,
     'location': 'Pune',
     'company_name': 'Amdocs',
     'Head_Office': 'Nagpur'}

my_dict.popitem()
print(my_dict)

{'name': 'Shyam', 'post': 'Data Scientist', 'salary': 45000, 'location': 'Pune', 'company_name': 'Amdocs'}

In [33]:
my_dict = {'name': 'Shyam',
     'post': 'Data Scientist',
     'salary': 45000,
     'location': 'Pune',
     'company_name': 'Amdocs',
     'Head_Office': 'Nagpur'}

print(my_dict)

# after the deleting
del my_dict['Head_Office']
print(my_dict)

{'name': 'Shyam', 'post': 'Data Scientist', 'salary': 45000, 'location': 'Pune', 'company_name': 'Amdocs', 'Head_Office': 'Nagpur'}
{'name': 'Shyam', 'post': 'Data Scientist', 'salary': 45000, 'location': 'Pune', 'company_name': 'Amdocs'}

In [34]:
my_dict = {'name': 'Shyam',
     'post': 'Data Scientist',
     'salary': 45000,
     'location': 'Pune',
     'company_name': 'Amdocs',
     'Head_Office': 'Nagpur'}

my_dict.clear()
print(my_dict)

{}

In [36]:
print(type(my_dict))

<class 'dict'>

In [37]:
my_dict = {'name': 'Shyam',
     'post': 'Data Scientist',
     'salary': 45000,
     'location': 'Pune',
     'company_name': 'Amdocs',
     'Head_Office': 'Nagpur'}

del my_dict
print(my_dict)

NameError: name 'my_dict' is not defined

# Loop through dictionary

In [38]:
my_dict = {'name': 'Shyam',
     'post': 'Data Scientist',
     'salary': 45000,
     'location': 'Pune',
     'company_name': 'Amdocs',
     'Head_Office': 'Nagpur'}

**Print all Keys in dictionary one by one**

In [39]:
for x in my_dict:
    print(x)

name
post
salary
location
company_name
Head_Office

In [43]:
for x in my_dict.keys():
    print(x)

name
post
salary
location
company_name
Head_Office

**Print all values in dictionary one by one**

In [41]:
for x in my_dict:
    print(my_dict[x])

Shyam
Data Scientist
45000
Pune
Amdocs
Nagpur

In [42]:
for x in my_dict.values():
    print(x)

Shyam
Data Scientist
45000
Pune
Amdocs
Nagpur

**Print all Keys and values in dictionary one by one using items() method**

In [44]:
for x, y in my_dict.items():
    print(x,y)

name Shyam
post Data Scientist
salary 45000
location Pune
company_name Amdocs
Head_Office Nagpur

In [45]:
for x, y in my_dict:
    print(x,y)

ValueError: too many values to unpack (expected 2)

In [24]:
dict = {'name':'ramu',
        'age':34,
        'color':{'first':'orange','second':'red'}}

dict.clear('age')
print(dict)

TypeError: clear() takes no arguments (1 given)