# Two measures are used to decide attributs
1. Information Gain
2. Entropy

### 1. Entropy:
    1. Entropy measures the impurity or uncertanty present in the dataset
    2. It is used to decides how to Decision Tree can be split data
    3. The higher entropy more the information content
    4. Formula:

![](https://www.snippetnuggets.com/interviewQuestions/machineLearning/basics/images/measure-entropy-decision-tree.png)

### 2. Information Gain:
    1. Information Gain (IG) is most significant measure used to build Decision Tree
    2. It indicates that how much "Information" a perticular feature/ variable give us about the outcome
    3. Information Gain

**Formula - [p/ p + n]log2 [p / p + n] - [n / p + n] log2 [n/ p + n]**

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('DT.csv')

In [4]:
df

        Age  Income Student Credit_rating Class: buys_computer
0      <=30    High      No          Fair                   No
1      <=30    High      No     Excellent                   No
2     31�40    High      No          Fair                  Yes
3       >40  Medium      No          Fair                  Yes
4       >40     Low     yes          Fair                  Yes
5       >40     Low     yes     Excellent                   No
6   31�..40     Low     yes     Excellent                  Yes
7      <=30  Medium      no          Fair                   No
8      <=30     Low     yes          Fair                  Yes
9       >40  Medium     yes          Fair                  Yes
10     <=30  Medium     yes     Excellent                  Yes
11    31�40  Medium      no     Excellent                  Yes
12    31�40    High     yes          Fair                  Yes
13      >40  Medium      No     Excellent                   No

#### Class P: buyes_computer = "Yes"

#### Class N: buyes_computer = "No"

P (YES) = 9
N (NO) = 5

**so Information Gain =I(p, n) = - [p/ p + n]log2 [p / p + n] - [n / p + n] log2 [n/ p + n]**

GAIN = I(P,N) = - [(9 / (9 + 5)) LOG2 (9 / (9 + 5)) - [(5/ (9 + 5)) LOG2 (5 / (9 + 5))]]
              = - [(9 / (14) * LOG2 (9 /14)) - (5 / (14) * LOG2(5 /14))]
              = - [(0.642) * (-0.6374) - (0.357) * -(1.485)
              = 0.940

In [17]:
(0.642) * (-0.6374)

-0.4092108

In [19]:
(0.357) * -(1.485)

-0.530145

In [24]:
- ((-0.4092108) - (0.520145))

0.9293558

In [26]:
0.940

0.94