# Encoding Techniques

1. The variable only have define possible values.
2. There are two kind of categorical data:
    1. Nominal Encoding
    2. Ordinal Encoding

### 1. Nominal Encoding

1. Variable comprises a finite set of descrete value with no relationship between values
2. Nominal Encoding uses three different techniqus to Encoding value:
    1. One Hot Encoding
    2. One Hot Encoding with many categorical variable
    3. Mean Encoding

### 2. Ordinal Encoding

# 1. Variable companies a finite set of descrete values with a ranked ordering between values
2. Ordinal encoding uses two techniques to encoding variable:
    1. Label Encoding
    2. Target Guided Ordinal Technques

## 1. One Hot Encoding

1. In one hot encoding, for each level of categorical features, we create a new variable
2. Each category is mapped with binary variable containing either 0 and 1:
    1. [0] - Represent absense of that variable
    2. [1] - Represent presense of that variable
3. Binary features also called dummy variable
4. Number of dummy variable depends on the level present in categorical variable

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('employee.csv')

In [ ]:
df.head()

   Employee_id  Gender Remarks
0            0    Male    Nice
1            1  Female    Good
2            2  Female   Great
3            3  Female    Nice
4            4    Male    Good

**Checking for table in the catogorical Parameters**

In [ ]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [ ]:
df['Remarks'].unique()

array(['Nice', 'Good', 'Great'], dtype=object)

**Cheking for the label counts in the categorical features**

In [ ]:
df['Gender'].value_counts()

Male      8
Female    7
Name: Gender, dtype: int64

In [ ]:
df['Remarks'].value_counts()

Nice     6
Good     6
Great    3
Name: Remarks, dtype: int64

**One- Hot encoding the categorical parameter using ge_dummies()**

In [ ]:
one_hot_encoded_data = pd.get_dummies(df,columns=['Remarks', 'Gender'])

In [ ]:
one_hot_encoded_data

,Employee_id,Remarks_Good,Remarks_Great,Remarks_Nice,Gender_Female,Gender_Male
0,0,0,0,1,0,1
1,1,1,0,0,1,0
2,2,0,1,0,1,0
3,3,0,0,1,1,0
4,4,1,0,0,0,1
5,5,1,0,0,0,1
6,6,0,1,0,1,0
7,7,0,0,1,0,1
8,8,1,0,0,0,1
9,9,0,1,0,0,1
10,10,0,0,1,1,0
11,11,0,0,1,0,1
12,12,0,0,1,1,0
13,13,1,0,0,0,1
14,14,1,0,0,1,0

In [ ]:
df1 = pd.DataFrame(one_hot_encoded_data)

In [ ]:
df1.to_csv('clean_data.csv')

### 2. Dummy Variable Encoding

1. One hot encoding creates one binary variable for each category
2. Problem is that this representation include redudancy
3. Example [0, 0, 1]:
    1. Red 
    2. Green
    3. Blue

### 2. Ordinal Encoding

1. Ordinal encoding each unique category value is assigned an integer value
2. Example[ Fruits ]:
    1. [apple - 1]
    2. [banana - 2]
    3. [cherry - 3]
    4. [Papaya - 4]
    5. [Kiwi - 5 ]

## 1. Label Encoding Techniques

1. Label encoding is a popular encoding technique for handling categories variable
2. Each value label [unique] 
3. Each label is assigned to a unique values based on alphabetical order

In [ ]:
import numpy as np
import pandas as pd

#### Read Dataset

In [ ]:
df = pd.read_csv('Iris.csv')

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

#### apply Label Encoding

In [ ]:
from sklearn import preprocessing

In [ ]:
label_encoder = preprocessing.LabelEncoder()

In [ ]:
df['Species'] = label_encoder.fit_transform(df['Species'])

In [ ]:
df['Species'].unique()

array([0, 1, 2])

1. Advantages
2. Disadvantages
3. Challeges
4. Application

1. Machine Learning
2. Digital Technique