In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Book1.csv')

In [3]:
df.head()

  Day   Outlook Humadity    Wind Play
0  D1     Sunny     High    Weak   No
1  D2     Sunny     High  Strong   no
2  D3  Overcast     High    Weak  Yes
3  D4     Rain      High    Weak  Yes
4  D5     Rain    Normal    Weak  Yes

In [4]:
df.drop('Day' , axis = 1 ,inplace=True)

In [5]:
df.head()

    Outlook Humadity    Wind Play
0     Sunny     High    Weak   No
1     Sunny     High  Strong   no
2  Overcast     High    Weak  Yes
3     Rain      High    Weak  Yes
4     Rain    Normal    Weak  Yes

In [6]:
df['Outlook'].unique()

array(['Sunny', 'Overcast', 'Rain '], dtype=object)

In [7]:
df['Outlook'] = df['Outlook'].replace({'Sunny':0, 'Rain ':2,'Overcast':1})

In [8]:
df['Humadity'] = df['Humadity'].replace({'High':0, 'Normal':1})

In [9]:
df['Wind'] = df['Wind'].replace({'Weak':0, 'Strong':1})

In [10]:
df['Play'] = df['Play'].replace({'No':0 ,'no':0,'Yes':1})

In [25]:
df

    Outlook  Humadity  Wind  Play
0         0         0     0     0
1         0         0     1     0
2         1         0     0     1
3         2         0     0     1
4         2         1     0     1
5         2         1     1     0
6         1         1     1     1
7         0         0     0     0
8         0         1     0     1
9         2         1     0     1
10        0         1     1     1
11        1         0     1     1
12        1         1     0     1
13        2         0     1     0

In [12]:
x = df.drop('Play', axis = 1)

In [13]:
y = df['Play']

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [15]:
x_train ,x_test ,y_train ,y_test = train_test_split(x ,y ,test_size = 0.2 ,random_state = False)

In [16]:
x_train.shape ,y_train.shape

((11, 3), (11,))

In [17]:
x_test.shape ,y_test.shape

((3, 3), (3,))

In [19]:
model = GaussianNB()

In [20]:
model.fit(x_train ,y_train)

GaussianNB()

In [21]:
pred = model.predict(x_test)

In [23]:
pred

array([1, 1, 1], dtype=int64)

In [24]:
y_test

8    1
6    1
4    1
Name: Play, dtype: int64

In [26]:
from sklearn.metrics import confusion_matrix, classification_report

In [28]:
print(confusion_matrix(y_test,pred))

[[3]]

In [29]:
print(classification_report(y_test ,pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         3

    accuracy                           1.00         3
   macro avg       1.00      1.00      1.00         3
weighted avg       1.00      1.00      1.00         3

In [27]:
from sklearn.metrics import accuracy_score, mean_squared_error

In [30]:
print(accuracy_score(y_test ,pred))

1.0

In [31]:
print(mean_squared_error(y_test ,pred))

0.0

1. Outlook = Sunny (0)
2. Humadity = High  (0)
3. Wind = Weak (0)
4. Play?

In [35]:
pred1 = model.predict([[0,0,0]])
print(pred1)

[0]

In [36]:
pred1 = model.predict([[1,0,0]])
print(pred1)

[1]

https://www.youtube.com/watch?v=tyICIg6p4hQ&ab_channel=BITS-PilaniCSE