# Update Collection

1. You can upadate a record or documents as it is called in MongoDB, by using update_one()
2. The first paramter of the update_one()  method is query object defining which documents update

**Note: If the query finds more than one record, only the first occourance is update**

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = myclient['computer_dept']
mycol = mydb['BE']

In [3]:

my_list = [
    {
    '_id': 1,
    'name': 'Sakshi Ambekar',
    'post': 'Data Engineer',
    'salary': 60000,
    'location':'Pune',
    'mobile': 1234567890,
    'email': 'sakshi@gmail.com',
    'dept': 'Research and Developement'
    },
    {
    '_id': 2,
    'name': 'Sachin Bodkhe',
    'post': 'ML Engineer',
    'salary': 80000,
    'location':'Pune',
    'mobile': 1234567890,
    'email': 'sachin@gmail.com',
    'dept': 'Research and Developement'
    },
     {
    '_id': 3,
    'name': 'Garima Chauhan',
    'post': 'ML Engineer',
    'salary': 50000,
    'location':'Pune',
    'mobile': 1234567890,
    'email': 'garima@gmail.com',
    'dept': 'Research and Developement'
    }
]

x = mycol.insert_many(my_list)
print(x.inserted_ids)

[1, 2, 3]

In [4]:
my_query = {'post':'ML Engineer'}
new_value = {'$set':{'post':'Data Scientist'}}

mycol.update_one(my_query, new_value)

for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'Data Engineer', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'Data Scientist', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}

In [5]:
my_query = {'post':{'$regex':'^D'}}
new_value = {'$set':{'post':'PYTHON DEVELOPER'}}

mycol.update_many(my_query, new_value)

for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'PYTHON DEVELOPER', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'PYTHON DEVELOPER', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}

### Limit Result

1. To limit the result in MongoDB, we use limit() method
2. limit() method take s one parameter, number defining how many number of documents return

In [ ]:

my_list = [
    {
    '_id': 4,
    'name': 'Rashmi Kakode',
    'post': 'Data Engineer',
    'salary': 60000,
    'location':'Pune',
    'mobile': 1234567890,
    'email': 'sakshi@gmail.com',
    'dept': 'Research and Developement'
    },
    {
    '_id': 5,
    'name': 'Yogesh Gadekar',
    'post': 'ML Engineer',
    'salary': 80000,
    'location':'Pune',
    'mobile': 1234567890,
    'email': 'sachin@gmail.com',
    'dept': 'Research and Developement'
    },
     {
    '_id': 6,
    'name': 'Tejas Nachane',
    'post': 'ML Engineer',
    'salary': 50000,
    'location':'Pune',
    'mobile': 1234567890,
    'email': 'garima@gmail.com',
    'dept': 'Research and Developement'
    }
]

x = mycol.insert_many(my_list)
print(x.inserted_ids)

In [7]:
my_result = mycol.find().limit(4)

for x in my_result:
    print(x)

{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'PYTHON DEVELOPER', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'PYTHON DEVELOPER', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}
{'_id': 4, 'name': 'Rashmi Kakode', 'post': 'Data Engineer', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}

In [8]:
my_result = mycol.find()

for x in my_result:
    print(x)

{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'PYTHON DEVELOPER', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'PYTHON DEVELOPER', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': 3, 'name': 'Garima Chauhan', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}
{'_id': 4, 'name': 'Rashmi Kakode', 'post': 'Data Engineer', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 5, 'name': 'Yogesh Gadekar', 'post': 'ML Engineer', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}
{'_id': 6, 'name': 'Tejas Nachane', 'post': 'ML Engineer', 'salary': 50000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'garima@gmail.com', 'dept': 'Research and Developement'}

In [9]:
my_result = mycol.find().limit(2)

for x in my_result:
    print(x)

{'_id': 1, 'name': 'Sakshi Ambekar', 'post': 'PYTHON DEVELOPER', 'salary': 60000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sakshi@gmail.com', 'dept': 'Research and Developement'}
{'_id': 2, 'name': 'Sachin Bodkhe', 'post': 'PYTHON DEVELOPER', 'salary': 80000, 'location': 'Pune', 'mobile': 1234567890, 'email': 'sachin@gmail.com', 'dept': 'Research and Developement'}