In [1]:
my_list = ['apple','mango','cherry','watermelon','banana']

In [2]:
my_list.append('blackcurrent')

In [3]:
my_list

['apple', 'mango', 'cherry', 'watermelon', 'banana', 'blackcurrent']

In [4]:
my_list1 = [10,20,30,40,50,60]

In [5]:
my_list1.append(70)

In [6]:
my_list1

[10, 20, 30, 40, 50, 60, 70]

In [7]:
my_list2 = ['apple','mango','cherry','watermelon','banana']

In [8]:
my_list2.append(45.12)

In [9]:
my_list2

['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.12]

In [10]:
my_list2.append(True)

In [11]:
my_list2

['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.12, True]

In [12]:
print(type(my_list2))

<class 'list'>

## Insert Method

In [16]:
my_list = ['apple','mango','cherry','watermelon','banana']
print(my_list)
my_list.insert(2,95.25)

['apple', 'mango', 'cherry', 'watermelon', 'banana']

In [14]:
my_list

['apple', 'mango', 95.25, 'cherry', 'watermelon', 'banana']

### Extend List

In [17]:
my_list1 = ['apple','mango','cherry','watermelon','banana']
my_list2 = [45.1,22, True, "Apple"]

print(my_list1)
print(my_list2)

my_list1.extend(my_list2)
print(my_list1)

['apple', 'mango', 'cherry', 'watermelon', 'banana']
[45.1, 22, True, 'Apple']
['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, True, 'Apple']

## Remove List of Elements:
    1. Remove:
        1. Remove method is used for removes a specific elements in list
    2. Pop
    3. Delete

In [18]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, True, 'Apple']

print(my_list)
my_list.remove(True)
print(my_list)

['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, True, 'Apple']
['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, 'Apple']

In [19]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, 'Apple']

my_list.remove(45.1)
print(my_list)

['apple', 'mango', 'cherry', 'watermelon', 'banana', 22, 'Apple']

In [21]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, 'Apple']

my_list.remove("apple")
print(my_list)

['mango', 'cherry', 'watermelon', 'banana', 45.1, 22, 'Apple']

#### 1. Pop Method:
    1. Using Pop method removes specific elements
    2. If you do not pass the indexing to pop method it removes last elements of list

In [22]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, 'Apple']

my_list.pop()
print(my_list)

['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22]

In [23]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, 'Apple']

my_list.pop(5)
print(my_list)

['apple', 'mango', 'cherry', 'watermelon', 'banana', 22, 'Apple']

#### 3. Delete [del]

In [24]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, 'Apple']

del my_list[1]
print(my_list)

['apple', 'cherry', 'watermelon', 'banana', 45.1, 22, 'Apple']

In [25]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, 'Apple']

del my_list

In [26]:
my_list

NameError: name 'my_list' is not defined

### Clear Method

In [27]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana', 45.1, 22, 'Apple']

my_list.clear()
print(my_list)

[]

# Loop List

In [29]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana']

print(my_list)

for i in my_list:
    print(i)

['apple', 'mango', 'cherry', 'watermelon', 'banana']
apple
mango
cherry
watermelon
banana

In [33]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana']

for i in range(len(my_list)):
    print(i)

0
1
2
3
4

In [31]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana']

len(my_list)

5

In [39]:
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[4])

apple
mango
cherry
watermelon
banana

# 1. Sort List in Python

In [41]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana','blackcurrent','papaya']

my_list.sort()
print(my_list)

['apple', 'banana', 'blackcurrent', 'cherry', 'mango', 'papaya', 'watermelon']

In [43]:
my_list = ['apple','MANGO', 'mango', 'cherry', 'watermelon', 'banana','blackcurrent','papaya','APPLE']

my_list.sort()
print(my_list)

['APPLE', 'MANGO', 'apple', 'banana', 'blackcurrent', 'cherry', 'mango', 'papaya', 'watermelon']

In [44]:
my_list = [45,26,42,36,10,20,5,7]

my_list.sort()
print(my_list)

[5, 7, 10, 20, 26, 36, 42, 45]

In [47]:
my_list = [45,26,42,36,10,20,5,7]

my_list.sort(reverse=True)
print(my_list)

[45, 42, 36, 26, 20, 10, 7, 5]

In [48]:
my_list = ['apple', 'mango', 'cherry', 'watermelon', 'banana','blackcurrent','papaya']

my_list.sort(reverse=True)
print(my_list)

['watermelon', 'papaya', 'mango', 'cherry', 'blackcurrent', 'banana', 'apple']

In [49]:
def my_funct(n):
    return abs(n - 15)

# Driver Code
my_list = [45, 42, 36, 26, 20, 10, 7, 5]
my_list.sort(key= my_funct)
print(my_list)

[20, 10, 7, 5, 26, 36, 42, 45]

In [52]:
def my_funct(n):
    return abs(n - 50)

# Driver Code
my_list = [40,60,70,90,10,30,20,50,100,80]
my_list.sort(key= my_funct)
print(my_list)

[50, 40, 60, 70, 30, 20, 80, 90, 10, 100]

In [53]:
my_list.index(50)

0

In [55]:
my_list = ['apple','mango','cherry','watermelon','banana']

my_list.index('cherry')

2

In [56]:
my_list[2]

'cherry'