# Decision Tree

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('DT.csv',encoding='unicode_escape')

In [4]:
df

        Age  Income Student Credit_rating Class: buys_computer
0      <=30    High      No          Fair                   No
1      <=30    High      No     Excellent                   No
2     31
40    High      No          Fair                  Yes
3       >40  Medium      No          Fair                  Yes
4       >40     Low     yes          Fair                  Yes
5       >40     Low     yes     Excellent                   No
6   31
..40     Low     yes     Excellent                  Yes
7      <=30  Medium      no          Fair                   No
8      <=30     Low     yes          Fair                  Yes
9       >40  Medium     yes          Fair                  Yes
10     <=30  Medium     yes     Excellent                  Yes
11    31
40  Medium      no     Excellent                  Yes
12    31
40    High     yes          Fair                  Yes
13      >40  Medium      No     Excellent                   No

### Step 1

1. class - P [buys_computer = "YES"]
2. class - N [buys_computer = "NO"]

### Total no of Records - 14